<ion-content >
	<ion-grid>
		<ion-card  *ngFor="let item of posts">
			<ion-row>
				<ion-col col-6 class="colImg">
					<iframe [src]="item.id.videoId | video " height="150" width="150" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</ion-col>
				<ion-col col-4 class="colImg">
					{{item.snippet.title}}<br>
					{{item.id.videoId}}<br>
			    <p>14 March2018 </p></ion-col>
				<ion-col col-2 class="colImg"><img src="assets/icon/arrow.png" class="arrow-icon"></ion-col>
			</ion-row>
		</ion-card>
  </ion-grid>
</ion-content>
