<!--
  Generated template for the ProgramPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>program</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>	
	<ion-row class="pd-row">
		<ion-col>
			<h3>Program Details</h3>
		</ion-col>
	</ion-row>

	<ion-row class="card-margin">
		<ion-col col-8 offset-1>
			<ion-card class="card">
				<ion-row class="day">
					<ion-col>
						Day1
					</ion-col>
				</ion-row>
				<ion-row class="card-date">
					<ion-col>
						<h1 class="april">14 April</h1>
						<p class="date">Saturday</p>
					</ion-col>
				</ion-row>
				<ion-row class="time">
					<ion-col>
						4.00 PM to 8.30 PM
					</ion-col>
				</ion-row>
			</ion-card>
		</ion-col>
	</ion-row>

	<ion-row class="card-margin">
		<ion-col col-8 offset-1>
			<ion-card class="card">
				<ion-row class="day">
					<ion-col>
						Day2
					</ion-col>
				</ion-row>
				<ion-row class="card-date">
					<ion-col>
						<h1 class="april">15 April</h1>
						<p  class="date">Sunday</p>
					</ion-col>
				</ion-row>
				<ion-row class="time">
					<ion-col>
						7.30 PM to 8.00 PM
					</ion-col>
				</ion-row>
			</ion-card>
		</ion-col>
	</ion-row>

	<ion-row class="pv-row">
		<ion-col>
			<h4 class="pv">Program Venue</h4>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col class="address">
			Ashok Nagar, Gokulum
			<p class="kkd">Kakinada</p>
		</ion-col>
	</ion-row>

	<ion-row class="card-margin">
		<ion-col col-8 offset-1>
			<ion-card class="card3">
			<div #map id="map"></div>
			</ion-card>
		</ion-col>
	</ion-row>


</ion-content>
