page-program {

}
.pd-row{
	text-align: center;
	margin-top: 10px;
	color: #114653;
}
.card{
	width: 120%;
	height: 135px;
	text-align: center;
	box-shadow:  3px 3px 10px 1px  rgba(0, 0, 0, 0.5);
	}
.day{
	font-style: italic;
	font-weight: lighter;
	margin-top: 4px;

}
.card-date{
	margin-top: 10px;
}
p.date{
	font-style: italic;
	font-weight: 500;
}
.time{
	font-size: 12px;
	font-weight: lighter;

}
.card-md{
	margin: 0px;
}
.april{
	font-size: 20px;
	margin-top: 8px;
	height: 25px;
}
.card-margin{
	margin-bottom: 15px;

}
.pv-row{
	text-align: center;
	margin-top: 35px;
}
.pv{
	font-size: 20px;
	font-weight: 500;
	color: #114653;
}
.address{
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	margin-top: -8px;
}
.kkd{
	margin-top: 3px;
}
.card3{
	width: 120%;
	height: 135px;
	text-align: center;
	box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.5);
	border: 8px solid white;

}
#map{
	width: 100%;
	height: 100%;
	border: 1px solid skyblue;
}