<!--
  Generated template for the MusicPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content padding>
    <ion-row>
		<ion-col class="btncol">
			<button type="submit" (click)="startRecording()">Listen Here</button>
		</ion-col>
	</ion-row>

	 <p>
  	List pages
List pages enumerate items of a particular type, such as the List of sovereign states or List of South Africans. Wikipedia has "lists of lists" when there are too many items to fit on a single page, when the items can sorted in different ways, or as a way of navigating lists on a topic (for example Lists of countries and territories or Lists of people). There are several ways to find lists:

Portal:Contents/Lists – A limited single-page collection of lists and lists of lists
List of lists of lists – A broad single-page collection of lists of lists
Category:Lists – Browse lists comprehensively via the multi-page Wikipedia category system
List pages
List pages enumerate items of a particular type, such as the List of sovereign states or List of South Africans. Wikipedia has "lists of lists" when there are too many items to fit on a single page, when the items can sorted in different ways, or as a way of navigating lists on a topic (for example Lists of countries and territories or Lists of people). There are several ways to find lists:

Portal:Contents/Lists – A limited single-page collection of lists and lists of lists
List of lists of lists – A broad single-page collection of lists of lists
Category:Lists – Browse lists comprehensively via the multi-page Wikipedia category system
List pages
List pages enumerate items of a particular type, such as the List of sovereign states or List of South Africans. Wikipedia has "lists of lists" when there are too many items to fit on a single page, when the items can sorted in different ways, or as a way of navigating lists on a topic (for example Lists of countries and territories or Lists of people). There are several ways to find lists:

Portal:Contents/Lists – A limited single-page collection of lists and lists of lists
List of lists of lists – A broad single-page collection of lists of lists
Category:Lists – Browse lists comprehensively via the multi-page Wikipedia category system
List pages
List pages enumerate items of a particular type, such as the List of sovereign states or List of South Africans. Wikipedia has "lists of lists" when there are too many items to fit on a single page, when the items can sorted in different ways, or as a way of navigating lists on a topic (for example Lists of countries and territories or Lists of people). There are several ways to find lists:

Portal:Contents/Lists – A limited single-page collection of lists and lists of lists
List of lists of lists – A broad single-page collection of lists of lists
Category:Lists – Browse lists comprehensively via the multi-page Wikipedia category system
  </p>
</ion-content>
