

<ion-content pager="true">
  <ion-slides autoplay="3000" speed="2000" pager="true">

  	
        <ion-slide >
            	<ion-card class="imgCard" let slide of imageData>
                   <div class="logo_img"><img src="assets/imgs/om.png"></div>
              		  <img  class="sliderimg" src="assets/imgs/satyam_img.jpg">
              </ion-card>
      		   
               <ion-row class="sliderTextRow">
                  <ion-col>
                    <h1>Videos</h1>
                  </ion-col>
                </ion-row>
        </ion-slide>
          
            
          <ion-slide >
          	   <ion-card class="imgCard">
                 <div class="logo_img"><img src="assets/imgs/om.png"></div>
                 <img  class="sliderimg" src="assets/imgs/satyam_img.jpg">
               </ion-card>
 
               <ion-row class="sliderTextRow">
                  <ion-col>
                     <h1>Events</h1>
                   </ion-col>
                  </ion-row>
          </ion-slide>

       
       
       <ion-slide >
           	<ion-card class="imgCard">
              <div class="logo_img"><img src="assets/imgs/om.png"></div>
                <img class="sliderimg" src="assets/imgs/satyam_img.jpg">
            </ion-card>

        			<ion-row class="sliderTextRow">
                <ion-col>
                     <h1 class="ug">Articals</h1>
                  </ion-col>
                  </ion-row>
    
        </ion-slide>
   </ion-slides>
      		
   <ion-row>
    <ion-col class="skipCol">
      <button  id="skip" ion-button (click)="goToContent()" >Get Started</button>
    </ion-col>
   </ion-row>


           <!-- <button ion-button class="btn"  (click)="tabs()">Get Started</button> -->

 
<!--       
      <ion-row>
        <ion-col class="btnCol">
           <button ion-button class="btn" type="submit" (click)="goToTabs()">Get Started</button>
        </ion-col>
      </ion-row> -->

</ion-content>