page-slider {

}
.bg{
	overflow-y: hidden;
}

.logo_img{
	height: 30px;
	width: 30px;
	position: absolute;
	margin-top:52%;
	margin-left:8%;
}

.imgCard {
	width:65%;
	border: 1px solid rgb(240,240,240);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
	height: 48%;
	padding: 0px;
	border-radius: 10px;
	margin: auto;
	margin-top: 8px;
}
.sliderimg {
	width:80% !important;
	height: 65%;
	margin: 10%;
	
	border-radius: 10px;
}
.slide-zoom {
	height: 90%;
}

.sl-imag{
	height: 100%;
	width:100%;
	margin: auto; 
	padding: 0;
}


.sliderTextRow {
	
	margin: 18%;
	font-size: 30px;
	color: blue;
	text-align: center;
}

.textVal{

	color: blue;
	font-size: 25px;
	margin: 10%;
}
.textCard {
	margin-top: 1%;
	width: 320px;
	height: 270px;
}
.skipRow {
	text-align: center;
	vertical-align: center;
	margin:8%;
}
.skipCol {
	text-align: center;
	/*margin-top: -50%;*/
	
}
ion-slides {
	height: 84%;
}
#skip {
	
	text-align: center;
	font-size: 15px;
	width: 130px;
	padding: 0px;
	border-radius: 10px;
	bottom:10%;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
	top: 450px;
	height: 10%;
}
