

<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
     <img src="assets/imgs/om.png">
  </div>
</div>


<ion-content >

	
 	<ion-grid class="language">
 		<ion-row>
 			<ion-col col-2></ion-col>
 			<ion-col col-8>
 				<h3 class="choose">Choose Your Language</h3>
 			</ion-col>
 			<ion-col col-2></ion-col>
 		</ion-row>
 		<ion-row>
 		    <ion-col col-3></ion-col>
 			<ion-col col-6>

 				<button class="lang" (click)="language('tel')">తెలుగు</button>
 			</ion-col>
 			<ion-col col-3></ion-col>
 		</ion-row>
 		<ion-row>
 		    <ion-col col-3></ion-col>
 			<ion-col col-6>
 				<button class="lang" (click)="language('eng')">English</button>
 			</ion-col>
 			<ion-col col-3></ion-col>
 		</ion-row>
 	</ion-grid>
	

</ion-content>
