<ion-header>
 
    <ion-title class="title">
      <h1>Ugadi</h1>
    </ion-title>
 
</ion-header>

<ion-content>
     <ion-tabs>
      <ion-tab [root]="tab1" tabTitle="Home" tabIcon="home"></ion-tab>
      <ion-tab [root]="tab2" tabTitle="watch" tabIcon="home"></ion-tab>
       <ion-tab [root]="tab3" tabTitle="Listen" tabIcon="musical-notes"></ion-tab>
       <ion-tab [root]="tab4" tabTitle="Read" tabIcon="paper"></ion-tab>
       <ion-tab [root]="tab5" tabTitle="more" tabIcon="more"></ion-tab>
  </ion-tabs>
</ion-content>


   
  <!-- The world is your oyster.
  <h6> (click)="remove()">
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </h6> -->


 
