page-content {
	ion-content {
	overflow-y: hidden;
	background-color: #faf9f8;
}
.twittertimecol {
	float: left;
	margin-top: 20px !important;
	font-size: 10px !important;
	padding: 10px;
}
.twitternamecol {
	float: right;
	margin-top: 20px !important;
	font-size: 10px;
	text-align: right;
	padding: 10px;
}
.twittertext {
	font-size: 8px;
}

}
.title {
	text-align: center;
	font-size: 15px;
	height: 5% !important;
}
.scroll-item {
    flex-wrap: nowrap;
    height: auto;
    overflow-x:scroll;
    overflow-y: hidden;
    width: auto;
}
.videocol {
	width: auto;
}
.titlecard {
	margin-top: 6%;
	width: 95%;
	height: 30px;
	padding-left: 5px;
	margin-left: 2%;
	background-color: #000000;
}

	.card2 {
		margin-top: -8%;
		background-color: #000066;
	}
	.carditem {
		height: 60%;
		overflow-x: scroll;
	}
	.card4 {
		background-color: #802000;
		margin-top: -8%;
	}

.videocard {
	border-radius: 5px;
	width: auto;
	margin-left:1px;
	margin-right:-4px;
	height: 85%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
.titletext{
	color: #ffffff !important;
	font-size: 20px;
	padding-left: 8px;
}
.viewall {
	color: #ffffff;
	text-align: right;
	padding-right: 12px;

}
.videotitle {
	color: blue;
	padding: 5px;
	font-size: 15px;
}
.icon-Youtube {
	height:30px;
	width: 30px;
	position: absolute;
	margin-left:40%;
	margin-top: 30%;
	vertical-align: center;
}
.twittercard {
	width: auto;
	height: 450px;
	border-radius: 8px;
	margin-top: 10px !important;
	background-color: rgb(240,240,240);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
.twitterdiv {
	width: 15%;
	height: 2%;
	margin-left: 5%;
	margin-top: 3%;
	margin-bottom: 5%;
}
.twittercontent {
	font-size: 13px !important;
	padding: 10px;
}
a {
	color: red;
}
 .twitterstyamimg{
 	width: 95%;
 	height: 95%;
 	border-radius: 12px;
 	margin-top: 20%;
 	margin-left: 2%;
 	padding: 2%;
 }
 .headline {
 	margin-top: 13%;
 	width: 90%;
 	height: 2px;

 }
 .videoPlayer {
 	height: 80%;
 	width: auto;
 }

