<!--
  Generated template for the VideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding>
	<!-- <ion-row>
		<ion-col class="btncol">
			<button type="submit" (click)="startRecording()">Video Record</button>
		</ion-col>
	</ion-row> -->

	<!-- <ion-row class="scroll-item">
        <ion-col col-8 *ngFor="let item of posts ">
             <ion-card class="videocard" >
            <iframe  [src]="item.id.videoId | youtube" width="192" height="auto" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
            <h6 class="videotitle">"{{item.snippet.title}}"</h6>
          </ion-card>
        </ion-col> 
    </ion-row>
 -->

     <ion-card class="videocard" >
         <ion-row class="scroll-item">
            <ion-col col-8 *ngFor="let item of posts ">
              <div class="icon-Youtube"> <img src="assets/imgs/video-icon2.png" (click)="playVideo()"> </div>
               <img [src]="item.snippet.thumbnails.default.url"/>


               
              <!--  <iframe  [src]="item.id.videoId | youtube" width="192" height="auto" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>  -->
                <h6 class="videotitle">"{{item.snippet.title}}"</h6>
           </ion-col> 
        </ion-row>
      </ion-card>

</ion-content>
